$background-color: #141d2f;
$input-background: #1e2a47;
$submit-btn-background: #0079ff;

* {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  box-sizing: border-box;
}

.dark-mode{
  $background-color: #F6F8FF;
  $input-background: white;
  
}

body {
  min-height: 100%;
  font-family: "Space Mono", sans-serif;
  background-color: $background-color;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  &__title {
    color: white;
    margin-inline-start: 2em;
    margin-block-start: 1em;
    font-size: 1rem;
  }
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-block-start: 2em;
  margin-inline-end: 2em;
  vertical-align: middle;

  &__button {
    text-transform: uppercase;
    color: white;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    letter-spacing: 2.5px;
    font-size: 13px;
  }

  &__icon {
    height: 20px;
    width: auto;
  }
}

.centered{
  display: grid;
  place-items: center;
}

input {
  color: white;
  padding-left: 1em;
  font-size: 0.9rem;
  font-family: "Space Mono", sans-serif;
}

.input__group {
  padding: 1em;
  display: flex;
  gap: 0.7em;
  width: 50em;
  border-radius: 0.7em;
  margin: 2em;
  background-color: #1e2a47;

  &__search {
    padding: 0.2em;
    object-fit: contain;
  }

  &__field::placeholder {
    color: white;
    font-size: 0.9rem;
    vertical-align: middle;
    opacity: 1;
    font-family: "Space Mono", sans-serif;
  }

  &__field {
    width: 100%;
    color: white;
  }

  &__submit-btn {
    background-color: #0079ff;
    border-radius: 10px;
    padding: 0.6em;
    color: white;
    font-family: "Space Mono", sans-serif;
  }
}

// Output Container

.result {
  display: flex;
  gap: 1.5em;
  flex-direction: row;
  background-color: $input-background;
  margin-inline: 2em;
  width: 50em;
  padding: 2em;
  border-radius: 0.7em;

  &__user-avatar img {
    width: auto;
    shape-outside: circle(50%);
    height: 70px;
  }

  &__user-avatar {
    border: 2px solid currentColor;
  }

  &__join_status {
    margin-bottom: 4em;
  }

  &__username {
    color: #0079ff;
    font-size: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5em;
  background-color: #141D2F;
  padding: 1em;
  border-radius: .6em;
  width: fit-content;
  margin-top: 3em;
}

.flex-socialmedia {
  display: flex;
  margin-top: 3em;
  gap: 1em;
  flex-direction: column;
}

.rw {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.description {
  margin-top: 1em;
}


@media screen and ( max-width: 600px) {
  .input__group__field{
    width: 16em;
  }

  .input__group{
    width: fit-content;
  } 

  .flex-row{
    gap: 1em;
    width: fit-content;
    margin-inline: 0;
  }
  .result{
    flex-direction: column;
    width: 24em;
  }

  .description{ 
    width: 22em;
  }
}

