* {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: "Space Mono", sans-serif;
  background-color: #141d2f;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  &__title {
    color: white;
    margin-inline-start: 2em;
    margin-block-start: 1em;
    font-size: 1rem;
  }
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-block-start: 2em;
  margin-inline-end: 2em;
  vertical-align: middle;

  &__button {
    text-transform: uppercase;
    color: white;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    letter-spacing: 2.5px;
    font-size: 13px;
  }

  &__icon {
    height: 20px;
    width: auto;
    margin-top: 0.2em;
  }
}